@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #f7be27;
}

.header_bg {
    /* background: rgb(10, 10, 10); */
    background: #181717;
}

.nav_bg {
    /* background: #e3000e; */
    /* background: #ed4548;    */
    background: #2e2d2d;
}

.nav_link {
    /* color: #fcfafa; */
    font-family: "Oswald", sans-serif;   
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 500;  
}

.navbar_link {
    font-family: "Oswald", sans-serif;
    color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 500;   
}

.navbar_link:hover {
    color: #f7be27;
}

.navbar_link.active {
    color: #f7be27;
}

.search_nav{
    border-radius: 20px;
    background: #181717;
}

.nav_position {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.bg_button {
   background: #f7be27;
}

.border_button {
    border: #181717;
}

.icon_link {
    color: #f1f1f1;
}

.icon_link:hover {
    color: #f7be27;
}

@media screen and (max-width: 600px) {
    .logo_nav {
        width: 65px;
        height: 65px;
  }
}

@media screen and (max-width: 991px) {
    .search_pd {
       padding-top: 20px;
       padding-bottom: 20px;
  }
   .login_nav {    
     text-align: start;           
   }
   .question_nav {
    display: none;
   }
   .navbar_toggle {
    background: #181717;    
   }  
}

@media screen and (min-width: 992px) {
    .nav_toggle {
        display: none;
    }
   
}