@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.btn_burger {
    border: 2px #2e2d2d;
    background: #2e2d2d;
    color: #f1efef;
}

.btn_burger:hover {
    background: #e3000e;
}

.btn_description {
    background-color: #2e2d2d;
    color: #e0dddd;
    width: 2.2rem;
    height: 2.2rem;
    font-weight: bolder;
}

.btn_quantity {
    border: 1px solid #2e2d2d;
    font-weight: bolder;
    font-family: "Oswald", sans-serif;
}

.bg_promotion {    
    background: #f7be27;
}

.store {
    width: 35%;
}

.promotion_text {
    font-family: "Oswald", sans-serif;
}